.App{
  width: 60%;
  margin-left: 20%;
  background: rgb(243, 243, 243);
  border-radius: 24px;
  height: 600px;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 0px ;
}

#title{
  width: 80%;
  margin-left: 10%;
  color: rgb(179, 179, 179);
  font-weight: 400;
  font-size: 16px;
  cursor: default;
}

.boxSearch{
  width: 80%;
  margin-left: 8%;
  margin-top: 20px;
}

.boxSearch input{
  width: 100%;
  padding: 5px 10px;
  font-size: 26px;
  font-weight: 600;
  color: rgb(62, 67, 68);
  background: transparent;
  border: none;
  margin-left: 2%;
}

.icon{
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  margin-left: -1%;
  margin-top: 6px;
  color: silver;
}

.boxSearch input:focus{
  outline: none;
}

.boxText{
  height: 80%;
  margin-top: 20px;
  overflow: auto;
}

.boxText p{
  width: 90%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(146, 155, 155);
  transition: .4s;
}

.boxText p:hover{
  color: rgb(83, 92, 92);
  background: rgba(172, 185, 185, 0.349);
}

.boxText::-webkit-scrollbar {
  width:10px;
}

.boxText::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(150, 165, 165, 0.301);
}

.boxText::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158); 
  border-radius: 10px;
}
